#css-slider {
             margin-left:  126px;
              width: 500px;
              height: 200px;
              margin-top:10px;
              overflow: hidden;
}

.slide-item {
              width: 500px;
              height: 50px;
              float: right;
              position: relative;
}

.slider-wrapper {
              width: 500%;
              position: relative;
              left: 0;
              will-change: transform;
              animation: slider 30s infinite;
}

body {
  width:1000px;
  margin:0 auto;
}
#A {
  margin-left:  120px;
  width:750px;
height:60px;
background-color:#009b9f;
margin-top:5px;
}
#B{
margin-left:10px;
width:740px;
min-height:50px;
height:auto;
background-color:#009b9f;
float:left;
margin-top:30px;
}
#C {
margin-left:10px;
width:740px;
min-height:500px;
height:auto;
background-color:#009b9f;
margin-top:120px;
}
#D {
margin-top:10px;
width:980px;
height:100px;
background-color:#009b9f;
}



@keyframes slider {
  0% { transform: translateX(0); }
  33% { transform: translateX(-300px); }
  66% { transform: translateX(-600px); }
  100% { transform: translateX(0); }

}
